[user]
	name = Wojciech Mach
	email = wojtekmach1@gmail.com
[github]
	user = wojtekmach
[core]
	editor = e

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
